@import './tailwind.scss';
@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
body {
  background: #ffffff !important; /* Чистый белый фон */
  color: #171616; /* Черный текст */
}



  
